venv/
__pycache__/
*.pyc
.env
data/audio/*
!data/knowledge/.gitkeep
!data/audio/.gitkeep
!data/vectors/.gitkeep
data/knowledge/旅游数据_*.csv
*.egg-info/
dist/
build/
.idea/
.vscode/
data/embedding_model/model.safetensors
